.list__container {
  display: flex;
  justify-content: center;
}

.item__container {
  display: flex;
  list-style: none;
}

.list {
  background-color: #fffff1;
}

.list__item {
  background-color: #fff1f2;
  padding-bottom: 10px;
}

.item {
  padding-right: 13px;
}