:root {
  font-family:
    x Helvetica,
    Arial,
    sans-serif;
  line-height: 1.7;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(3, 22, 4, 0.87);
  background-color: #fffff2;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
